<nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-background">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">{{title}}</a> -->
        <ul class="list-unstyled container-fluid d-flex flex-row justify-content-between navbar-item-list">
            <li class="nav-item">
                <a aria-current="page" 
                    class="nav-link navbar-item-text d-flex flex-column topbar-item-text"
                    routerLink="/user">
                    <div class="material-icons size navbar-item-icon">account_circle</div></a>
            </li>
            <li class="nav-item">
                <a aria-current="page" 
                    class="nav-link navbar-item-text d-flex flex-column topbar-item-text"
                    routerLink="/polifonia">
                    <img class="polifonia-logo size" src="assets/img/polifonia_logo.jpg">
                </a>
            </li>
        </ul>
    </div>
  </nav>