<h4>Following</h4>
<p>
  Select the agents you want to follow based on the relationships you are interested in
</p>
<app-stream-filter></app-stream-filter>
<hr />
<h4>Related songs</h4>
<div class="row">
  <div class="col-5">
    <label for="maxRelated" class="form-label">Maximum related songs</label>
  </div>
  <div class="col-3">
    <input type="text" id="maxRelated" class="form-control" aria-describedby="maxRelatedHelpBlock" value="3">
  </div>
</div>
<div id="maxRelatedHelpBlock" class="form-text">
  The maximum number of related songs that will be displayed per song annotation.
</div>
