<div *ngIf="annotation" class="app-background stream-item">
  <app-stream-item-header [annotation]="annotation"></app-stream-item-header>
  <app-stream-item-main-info [annotation]="annotation"></app-stream-item-main-info>
  <app-stream-item-details [annotation]="annotation"
                            id="{{'flush-collapse-' + annotation.simpleID}}"
                            class="accordion-collapse collapse"
                            [attr.aria-labelledby]="'flush-heading-' + annotation.simpleID"
                            [attr.data-bs-parent]="'#accordionFlush'"
                            class="accordion-body collapse">
  </app-stream-item-details>
  <app-stream-item-social-buttons [annotation]="annotation"></app-stream-item-social-buttons>
</div>
