<nav class="navbar navbar-expand-md navbar-dark fixed-bottom navbar-background">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">{{title}}</a> -->
        <ul class="list-unstyled container-fluid d-flex flex-row justify-content-around navbar-item-list">
          <app-navbar-item *ngFor="let item of navItems"
              class="navbar-item"
              [isSelected]="item === selectedItem"
              (click)="onClickNavButton(item)"
              [title]="item.title" 
              [route]="item.route"
              [iconName]="item.icon">
            </app-navbar-item>
        </ul>
    </div>
  </nav>