<div class="row pt-3 pb-1">
  <div class="col">
    <div class="card rounded">
      <div class="card-body">
        <youtube-player
          (ready)="onReady($event)"
          (stateChange)="onStateChange($event)"
          videoId="vfxQ1oDiEJM"
          suggestedQuality="highres"
          [height]="200"
          [width]="300"
          [playerVars]="{
            controls: 0
            }">
        </youtube-player>
        <br />
        Timer: {{currentPlayTime}}
        <br />
        <button (click)="back()" type="button" class="btn btn-primary"><i class="fas fa-backward"></i></button>
        <button (click)="forward()" type="button" class="btn btn-primary mx-1"><i class="fas fa-forward"></i></button>
        <button (click)="play()" type="button" class="btn btn-primary"><i class="fas fa-play"></i></button>
        <button (click)="pause()" type="button" class="btn btn-primary mx-1"><i class="fas fa-pause"></i></button>

      </div>
    </div>
  </div>
</div>

