<div class="row pb-1">
  <div class="col">
    <div class="card rounded app-background">
      <div class="card-body content-centered">
        <youtube-player
          (ready)="onReady($event)"
          (stateChange)="onStateChange($event)"
          [videoId]="currentSong.youtubeID"
          suggestedQuality="highres"
          [height]="200"
          [width]="300"
          [playerVars]="{
            controls: 1
            }">
        </youtube-player>
        <div>
          <div class="audio-controller-container">
            <button (click)="backwards()" type="button" class="btn btn-primary btn-lg audio-button"><i class="fas fa-backward"></i></button>
             <button *ngIf="playing" (click)="pause()" type="button" class="btn btn-primary btn-xl audio-button play"><i class="fas fa-pause"></i></button>
             <button *ngIf="!playing" (click)="play()" type="button" class="btn btn-primary btn-xl audio-button pause"><i class="fas fa-play"></i></button>
             <button (click)="forward()" type="button" class="btn btn-primary btn-lg mx-1 audio-button"><i class="fas fa-forward"></i></button>
          </div>
          <!--<div class="hidden-dev-element">-->
          <div class="">
            {{currentPlayTimeString}} / {{this.totalPlayTimeString}}
          </div>
          <app-playing-song-details [playingSong]="currentSong"></app-playing-song-details>
        </div>
      </div>
    </div>
  </div>
</div>
