.audio-controller-container {
    text-align: center;
}

.audio-button {
    background-color: black;
    border-color: black;
}

.btn-xl {
    padding: 10px 25px;
    font-size: 30px;
    border-radius: 10px;
}

