<div class="row pb-1">
  <div class="col">
    <div class="card rounded app-background">
      <div class="card-body">
        <h5 class="card-title hidden-dev-element">Notes
          <span class="badge bg-primary rounded-pill">{{stream.length}}</span>
        </h5>


        <div class="accordion accordion-flush" id="accordionFlush">

          <div class="accordion-item" *ngFor="let annotation of stream; index as annotationIndex">
            <div *ngIf="isPreviousSongAnnotation(annotationIndex)" class="annotation-divisor">{{getSongDetailsByAnnotationIndex(annotationIndex).name}} - {{getSongDetailsByAnnotationIndex(annotationIndex).artist}}</div>
            <app-stream-item
              *ngIf="filters[annotation.type].enabled"
              [annotation]="annotation">
            </app-stream-item>
          </div>

        </div>

        <!-- <button (click)="addDummyAnnotation()" type="button" class="btn btn-primary">Add test annotation</button> -->

      </div>
    </div>
  </div>
</div>
