<h2 class="accordion-header" id="{{'flush-heading-' + annotation.id}}">
    <button
      class="accordion-button accordion-flush collapsed app-background app-text-color"
      type="button"
      [attr.data-bs-toggle]="'collapse'"
      [attr.data-bs-target]="'#flush-collapse-' + annotation.id"
      [attr.aria-expanded]="'false'"
      [attr.aria-controls]="'flush-collapse-' + annotation.id"
      >
      <div  [style.color]="annotationGraphics.color"
      >
        {{annotationGraphics.title}}
      </div>
    </button>
</h2>