
<div *ngFor="let item of filters | keyvalue" class="form-check form-switch filter-item">
  <input
    class="form-check-input"
    type="checkbox"
    id="{{'filterSwitch-' + item.key}}"
    [checked]="item.value.enabled"
    (change)="onSwitchToggle(item.value.type, $event)"
  >
  <div class="material-icons size annotation-icon color-brightness" [style.color]="getFilterGraphics(item.value).color">{{getFilterGraphics(item.value).iconName}}</div>
  <label class="form-check-label" for="{{'filterSwitch-' + item.key}}" [style.color]="getFilterGraphics(item.value).color">{{item.value.label}}</label>
</div>





