.material-icons.size { font-size: 36px; }

.annotation-icon {
 margin-right: 10px ;
 margin-left: 20px; 

}

.filter-item {
    display: flex ;
    align-items: center;
  }

.material-icons.lyricIconSmaller {
    font-size: 30px
}

.lyricTextSmaller {
  margin-left: 6px
}

.material-icons.locIconSmaller {
  font-size: 16px
}

.locTextSmaller {
margin-right: 10px
}