<div
  class="alert alert-fixed alert-primary"
  role="alert"
  [ngClass]="{'d-none fadeOut' : !message.visible, 'fadeIn' : message.visible}">
  <span [ngSwitch]="message.type">
    <!-- the same view can be shown in more than one case -->
    <i *ngSwitchCase="'info'" class="fas fa-info-circle"></i>
    <i *ngSwitchCase="'delete'" class="fas fa-trash-alt"></i>
    <i *ngSwitchCase="'done'" class="fas fa-check-circle"></i>
    <i *ngSwitchCase="'warning'" class="fas fa-exclamation-triangle"></i>

    <!--default case when there are no matches -->
    <i *ngSwitchCase="message.type === 'info'" class="fas fa-info-circle"></i>
  </span>
  {{message.messageText}}
</div>
