<li *ngIf="fullSong" class="d-flex flex-row related-song-item">
  <div (click)="addToQueue(fullSong.id)" class="material-icons size add-song-icon">playlist_add</div>
  <div>
    {{fullSong.name}} - {{fullSong.artist}} <br />
    <div *ngIf="targetAnnotation.type === 'harmonic'">Similarity score: <em>{{relationship.score}}</em> <br /></div>
    <em>
      <!-- [{{relationship.type}}] - -->{{targetAnnotation.description}}<br />
      <div *ngIf="targetAnnotation.type === 'harmonic'">{{formatChordProgressionTimeInterval(targetAnnotation.metadata.beginCPA,targetAnnotation.metadata.endCPA)}}       <p
        *ngIf="targetAnnotation.type === 'harmonic'"
        (click)="emit({'songID': targetAnnotation.songID, 'timestamp': targetAnnotation.timestamp})"
        class="material-icons size add-song-icon" >
        shortcut
      </p>
  </div>
    <div *ngIf="targetAnnotation.provenance">Provenance: <a href="fake">{{targetAnnotation.provenance}}</a></div>
    </em>
  </div>
</li>
