.add-song-icon {
    background-color: white;
    color:black;
    width: 25px;
    border-radius: 2px;
    margin-right: 5px;
    height: min-content;
    cursor: pointer;
    margin-left: 10px ;
}

.related-song-item {
    margin: 10px 0px;
}