/* You can add global styles to this file, and also import other style files */
/* Global style for sonar2021 demo */




/* Default Values. Assign these classes to component to be styled according to this theme*/
.app-background {
    background-color: black !important;
}

.app-text-color {
    color: white;
}


/* This class is assigned to elements supposed to be shown in development environment.
   Uncomment the class to hide those elements*/
.hidden-dev-element {
    display: none;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 600px /* or set it wider or narrower than 900px */
}
