<div class="hidden-dev-element">
  <div class="row">
    <div class="col">
      <div class="card rounded app-background">
        <div class="card-body">
          <h5 class="card-title">Queue</h5>
  
          <div *ngFor="let queueItem of queue; let i = index">
            {{queueItem.songID}}
            <button (click)="removeFromQueue(i)" type="button" class="btn btn-danger btn-sm my-1"><i class="fas fa-trash-alt"></i></button>
          </div>
  
        </div>
      </div>
    </div>
</div>



